---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

body {
  font-size: 17px;
}

img.screenshot {
  float: right;
  width: 200px;
}
ul {
	padding-left: 2em;
}

.site-title {
  display: none;
  visibility: hidden;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
	border-bottom-style: hidden
}
.sidebar.sticky {
	overflow-y: visible;
}